body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000d24;
}



.logo{
    width: 10%;
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    margin-left: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
nav ul{
    margin-bottom: 50px;
}
nav ul li{
    display: inline-block;    
    margin: 10px 30px ;
    list-style: none;
    position: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    margin-right: 50px;
    margin-left: 60px;
   
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3.4px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    border-radius: 2px;
}

nav ul li a:hover::after{
    width: 100%;
    
}
.roww{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    position: relative;
}
.info{
    flex-basis:50% ;
    margin: 4cm  0 2cm;
    padding: 0 3cm;
}
.info h1{
    font-size: 70px;
    margin: 0;
}
.info h1 span{
    color: orange;
}
.info1{
    flex-basis: 90%;
}
.info p{
    font-size: 30px;
    margin-top: 10px;
}
.info1 img{
    width: 90%;
    margin-top: -480px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    transform: scale(0.9);
}


/*---------About---------*/

.about{
    height: 500px;
    color: whitesmoke;    
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
}

#about{
    padding: 80px 0;
}

.about1{
    flex-basis: 35%;
    margin-left: 30px;
}

.about1 img{
    width: 100%;
    border-radius: 16px;
    filter: opacity(97%);
}
.about2{
    flex-basis: 60%;
}
.abtme{
    color: rgb(255, 255, 255);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.about2 p{
    color: whitesmoke;
    padding: 2px 30px 0;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;    
}
.title{
    display: flex;
    margin:20px 0px 10px;
    font-weight: 600;
    font-size: 20px;    
}
.title1{
    cursor: pointer;
    margin-right: 50px;
    position: relative;    
}

.title1::after{
    content: '';
    width: 0;
    height:3px ;
    bottom: -7px;
    background: orange;
    position: absolute;
    left: 31px;
    transition: 0.5s;
}

.title1.activelink::after{
    width: 35%;

}
.title-con ul{
    padding:0 30px;
    margin: 0;

}
.title-con ul li{
    list-style: none;
    padding-bottom: 12px;
    font-size: 14px;
    
}
.title-con ul li span{
    color: #00c8ff;
    font-size: 17px;
    
}
.title-con{
    display: none;

}
.title-con.active-con{
    display: block;
}


/*----------------porfolio----------*/
#portfolio{
    padding: 50px 35px 0;

}
.sub-title{
    font-size: 60px;
    color: white;
    margin: 50px ;
}

.work-list {
    display: grid ;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    color: white;
    background:linear-gradient(rgba(0,0,0,0.6),#003e7f) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;      
    transition: height 0.5s ;

}

.layer h3{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;    
}

.layer p{
    padding: 0px 50px 2px;
}
.layer a{
    font-size: 19px;
    background: white;
    border-radius: 60px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.work:hover img{
   transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
button{
    border: none;
    border-radius: 6px;
    color:white;
    font-size: 18px;
    background-color: rgb(255, 0, 115);
    cursor: pointer;
    display: flex;
    margin: 50px auto 0;
    padding: 10px 30px ;
    justify-content: center;
    align-items: center;    

}
  
button:hover{
    background-color: rgb(255, 0, 38);
    color:#fff;
    text-decoration: none;
}
.container .work-list  .work{    
    display: none;

}
  
  
.container .work-list  .work:nth-child(1),
.container .work-list  .work:nth-child(2),
.container .work-list  .work:nth-child(3){ display:inline-block ;
    position: relative;
}

/*---------contact-----------*/ 

.contact-left h1{
    margin: 20px 80px 10px;
}
.contact-left p{
    color: white;
    display: flex;
    margin-left: 30px;
}

.social-icons{
    margin-left: 5cm;
    font-size: 32px;
}
.social-icons a{
    padding: 0px 9px 40px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform: translateY(-6px);
}
.contact-left p i{

    font-size: 25px;
    margin-left: 2cm;
    padding: 0 10px;
    margin-top: -3px;
    
}
.copyright{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 0cm 0cm 0.3cm;
}
.copyright a{
    text-decoration: none;
    margin-left: 4px;
    color: white;
    position: relative;
    color: rgb(0, 145, 255);

}


/*---------media------*/
nav .fas{
    display: none;
}




@media (max-width:600px ) {
    #header{
         background-image: url(bg\ off.png);
         background-size: cover;
         background-position: center;
         width: 100%;
         height: 100vh;
    }    

    .roww{
        display: none;
    }

    .logo{
        width: 20%;
        margin-left: 21px;
    }


    nav .fas{
        display: block;
        margin-right: 1cm;
        font-size: 26px;
    }
    nav ul{
        background: #00b7ff;
        position: fixed;
        top: 0;
        right: -300px;
        width: 200px;
        height: 100vh;
        margin-top: 0px;
        padding-top:50px ;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 35px -55px;
    }
    nav ul li a{
        color: rgb(1, 1, 71);
    }
    nav ul .fas{
        position: absolute;
        cursor: pointer;
        top: 25px;
        left: 50px;
    }
    nav ul li a:hover::after{
        width: 0%;
        
    }

    .sub-title{
        font-size: 40px;
    }
    .about1{
        margin: 0 30px;
    }
    #about{
        padding-top: 0px;
    }

    .about1 , .about2{     
        flex-basis: 100%;
    }
    .about2 p{
        margin-bottom: 30px;
        font-size: 17px;
        padding: 0;
        margin: 20px 0px ;
    }
     .about2{
        font-size: 14px;
        margin: 30px;
    }

    .title-con ul{
        padding:0 0;
        margin-left: 10px;
    }

    .container .sub-title{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        
    }
    .portfolio{
        margin-top: 16cm;
        position:relative ;
    }
    .work-list{
        justify-content: center;


    }
    .title p{
        margin: 12px 12px;
    }
    .contact-left{
        justify-content: center;
    }
    .contact-left h1{
        margin: 55px 12px 20px;
        justify-content: center;
        display: flex;

    }
    .contact-left p{
        padding: 0px 0px 20px;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .contact-left p i{
        margin: 0;
    }
    .social-icons{
        margin:auto;
        justify-content: center;
        display: flex;
    }
    .title1::after{
        left: 0px;
    }
    .title1.activelink::after{
        width: 40%;
        border-radius: 12px;
    }
    .title-con ul{
        padding-left: 0px;
        
    }
    .title-con ul li span{
        font-size: 17px;
        
    }
    .title-con ul li{
        font-size: 16px;
        
    }
    .layer h3{
        margin-top: -6px;
        font-weight: 600;
        font-size: 20px;        
    }
    
    .layer p{
        margin: 0px 1px 2px;
        padding: 0;
    }
    .layer a{
        font-size: 16px;
        background: white;
        border-radius: 60px;
        text-decoration: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-top: 12px
        
    }
    .copyright{
        font-size: 13px;
    }
}