body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000d24;
    overflow: auto;

}



.logo{
    width: 10%;
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    margin-left: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul li{
    display: inline-block;    
    margin: 10px 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    margin-right: 50px;
    margin-left: 60px;
   
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3.4px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    border-radius: 2px;
}

nav ul li a:hover::after{
    width: 100%;
    
}
.info{
    margin-left: 4cm;
    margin-top: -2cm;

}
.info h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: -6px;


}

h1 span{
    color: rgb(255, 157, 0);
}

.info p{
    color: white;
    font-size: 30px;
    margin: 2px 80px;
}

.image{
    background-image: url(ori.png);
    background-size: cover;
    bottom: 0;
    right: 100px;
    background-position: center;
    width: 40%;
    height: 80vh;
    position: absolute;
}


/*      About       */

.about{
    height: 500px;
    color: whitesmoke;    
}

.box{
    display: flex;
    justify-content: space-between;

}

#about{
    margin-top: 6cm;
}

.about1{
    flex-basis: 80%;
}

.about1 img{
    width: 100%;
    border-radius: 16px;
    margin: 12px 12px;
    background: rgb(36, 36, 36);
}
.abtme{
    color: rgb(255, 255, 255);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about2 p{
    color: whitesmoke;
    padding: 2px 50px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;    
}
.title{
    display: flex;
    margin:10px 10px 15px;
    font-weight: 600;
    font-size: 20px;
 
}
.title1{
    cursor: pointer;
    margin-right: 50px;
    position: relative;
    margin:10px 0 20px;
}

.title1::after{
    content: '';
    width: 0;
    height:3px ;
    bottom: -7px;
    background: orange;
    position: absolute;
    left: 51px;
    transition: 0.5s;
}

.title1.activelink::after{
    width: 35%;
    border-radius: 12px;
}
.title-con ul li{
    list-style: none;
    padding-bottom: 12px;
    padding-left: 20px;
    font-size: 14px;
}
.title-con ul li span{
    color: #00c8ff;
    font-size: 17px;
    padding-bottom: 82px;
}
.title-con{
    display: none;
}
.title-con.active-con{
    display: block;

}


/*----------------porfolio----------*/

.container h1{
    color: white;
    font-size: 50px;
    margin: 250px 80px 10px;
    padding-top: 30px;

}
.work-list {
    display: grid ;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    grid-gap: 40px;
    margin-top: 10px;
    padding: 60px;


}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    color: white;
    background:linear-gradient(rgba(0,0,0,0.6),#003e7f) ;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;      
    transition: height 0.5s ;
}

.layer h3{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.layer p{
    padding: 0px 50px 2px;
}
.layer a{
    font-size: 19px;
    background: white;
    border-radius: 60px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    
}

.work:hover img{
   transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
button{
    border: none;
    border-radius: 6px;
    color:white;
    font-size: 18px;
    background-color: rgb(255, 0, 115);
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 10px 30px ;
    justify-content: center;
    align-items: center;
    

}
  
button:hover{
    background-color: rgb(255, 0, 38);
    color:#fff;
    text-decoration: none;
}
.container .work-list  .work{    
    display: none;

}
  
  
.container .work-list  .work:nth-child(1),
.container .work-list  .work:nth-child(2),
.container .work-list  .work:nth-child(3){ display:inline-block ;
    position: relative;
}

/*---------contact-----------*/ 



.container1 h1{
    color: white;
    font-size: 50px;
    margin: 2px 80px 0px;

}

.contact-left p{
    color: white;
    display: flex;
}

.social-icons{
    margin-left: 4cm;
    font-size: 32px;

}
.social-icons a{
    padding: 0px 9px 40px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform: translateY(-6px);
}
.contact-left p i{

    font-size: 25px;
    margin-left: 2cm;
    padding: 0 10px;
    margin-top: -3px;
    
}
.copyright{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 0cm 0cm 0.3cm;
    font-weight: 350;

}
.copyright a{
    text-decoration: none;
    margin-left: 4px;
    color: white;
    position: relative;

}
.copyright a:hover{
    color: rgb(0, 145, 255);
}

/*---------media------*/
nav .fas{
    display: none;
}


@media(max-width:892px){
    .image{
        background-image: url(off.png);
        width: 100%;
        height: 500vh;
        top: -650px;
        right: 0px;
        left: 240px;
        transform: scale(0.4);  

     }
     .info{
     margin-left: 12px;
     margin-top: -4cm;
     margin-bottom: -2.1cm;
    }

     .nav nav ul {
     display: inline-block;    
     margin: 20px 0px;
     margin-right: 60px;
     height: 7%;

     }
     .nav nav ul li a{
     display: inline-flex;
     margin: 0px 9px;
    }
   
}
@media(max-width:600px){
    .image{
         background-image: url(off.png);
         width: 100%;
         height: 90vh;
         top: 100px;
         right: 0px;
         left: 0px;
         border-radius: 2000px;
         border: 4px ;   
         transform: scale(1);  
    }    
    .info h1{        
        font-size: 60px;
    margin-left: 35px;
    width: 87%;  
    }
    .logo{
        width: 20%;
        margin-left: 21px;
    }
    .info{
        margin: 480px 0px -100px;
    }
    .info p{
        font-size: 23px;
        justify-content: center;
        display: flex;
        margin: 0px ;
        margin-left: -32px;


    }
    nav .fas{
        display: block;
        margin-right: 1cm;
        font-size: 26px;
    }
    nav ul{
        background: #00b7ff;
        position: fixed;
        top: 0;
        right: -300px;
        width: 200px;
        height: 100vh;
        margin-top: 0px;
        padding-top:50px ;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 35px -55px;
    }
    nav ul li a{
        color: rgb(1, 1, 71);
    }
    nav ul .fas{
        position: absolute;
        cursor: pointer;
        top: 25px;
        left: 50px;
    }
    nav ul li a::after{
        display: none;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
    }
    .about1 , .about2{     
        margin: 0px 0px 0px;
        flex-basis: 80%;
    }
    .about1{
        margin-left: -20px;

        
    }
    .container .sub-title{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        
    }
    .about2 p{
        padding: 0;
        margin: 0px -10px;
        
    }
    .portfolio{
        margin-top: 21cm;
        position:relative ;
    }
    .work-list{
        justify-content: center;


    }
    .title p{
        margin: 12px 12px;
    }
    .contact-left{
        justify-content: center;
    }
    .contact-left h1{
        margin: 55px 12px 20px;
        justify-content: center;
        display: flex;

    }
    .social-icons{
        margin:auto;
        justify-content: center;
        display: flex;
    }
    .title1::after{
        left: 0px;
    }
    .title1.activelink::after{
        width: 40%;
        border-radius: 12px;
    }
    .title-con ul{
        padding-left: 0px;
        
    }
    .title-con ul li span{
        font-size: 17px;
        
    }
    .title-con ul li{
        font-size: 16px;
        
    }
    .layer h3{
        margin-top: -6px;
        font-weight: 600;
        font-size: 20px;        
    }
    
    .layer p{
        margin: 0px 1px 2px;
        padding: 0;
    }
    .layer a{
        font-size: 16px;
        background: white;
        border-radius: 60px;
        text-decoration: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-top: 12px
        
    }
    .copyright{
        font-size: 13px;
    }
}